* {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
a {
    color: #202020;
}
.wrapper {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}
header {
    max-width: 1181px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 53px auto 124px auto;
    color: #202020;
        .logo-block {
            display: flex;
            align-items: center;
            font-size: 24px;
            font-weight: bold;
                img {
                    margin-right: 25px;
                }
        }
        nav.header-nav {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            a {
                margin-right: 15px;
            }
            a:last-child {
                margin-right: 0;
            }
            a.contact {
                background-color: #5528ff;
                padding: 5px 10px;
                border-radius: 5px;
                color: #fff;
            }
        }

}
.contact-us {
    max-width: 1152px;
    margin: 0 auto 100px auto;
    h1 {
        font-size: 58px;
        line-height: 68px;
        margin-bottom: 24px;
        color: #202020;
    }
    p {
        max-width: 741px;
        font-size: 32px;
        line-height: 52px;
        margin-bottom: 70px;
        color: #4F4F4F;
    }
    a {
        padding: 13px 50.53px 13.58px 52px;
        background-color: #5528ff;
        border-radius: 10px;
        color: #fff;
    }
}
fieldset {
    border: none;
    border-top: 1px solid #c2c2c2;
}
legend {
    padding: 0 10px;
    margin-left: 20%;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 68px;
    color: #c2c2c2;
}
.services {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1092px;
    margin: 0 auto 109px auto;
    .services-container {
        max-width: 441px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 80px;
        img {
            display: block;
            margin-right: 44px;
        }
        h3 {
            font-size: 28px;
            color: #000;
            margin-bottom: 16px;
        }
        p {
            font-size: 14px;
            line-height: 25px;
            color: #b2b2b2;
        }
    }
    .mob-dev {
        margin-left: 25px;
        img {
            margin-right: 64px;
        }
    }
    .qa {
        img {
            margin-left: 15px;
            margin-right: 64px;
        }
    }
}
.clients {
    margin: 0 auto 50px auto;
    max-width: 914px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    a {
        width: 183px;
        height: 53px;
        margin-bottom: 65px;
    }
    img {
        display: block;
        margin: auto;
    }
}
.team {
    margin: 0 auto 100px auto;
    max-width: 1000px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
        .team-element {
            max-width: 265px;
            margin-bottom: 60px;
            display: flex;
            align-items: center;
                img {
                    margin-right: 30px;
                }        
        }
}
footer {
    max-width: 1181px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 20px auto;
        nav.footer-nav {
            display: flex;
            align-items: center;
                a {
                    margin-right: 30px;
                }
                a:last-child {
                    margin-right: 0;
                }
        }
}